<form action="" method="post">
    <h2>Přidat nový příspěvek</h2>
    <table class="animate">
        <tr><td>Titulek: </td><td><input type="text" name="title" size="50"/></td></tr>
        <tr><td>Popisek: </td><td><textarea name="abstract" rows="10" cols="100" class="ckeditor"></textarea></td></tr>
        <tr><td>Soubor: </td><td><input type="file" name="fileToUpload" id="fileToUpload"></td></tr>
        <tr><td></td><td> <input type="submit" value="Odeslat" name="upload"> <input type="reset" value="smazat"> </td></tr>
    </table>
</form>