<div id="id01" class="modal">

    <form class="modal-content animate" id="form" method="post">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <img src="images/logo_avatar.png" alt="Avatar" class="avatar">
        <div class="containerLog">
            <label><b>Uživatelské jméno</b></label>
            <input type="text" placeholder="Enter Username" name="reg_user[username]" required>

            <label><b>Heslo</b></label>
            <input type="password" placeholder="Enter Password" name="reg_user[password]" required>

            <label><b>E-mail</b></label>
            <input type="email" placeholder="Enter E-mail" name="reg_user[email]" required>
            <button type="submit" class="btn btn-success" name="register" id="register">Registrovat</button>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger">Zrušit</button>

        </div>
    </form>
</div>